body {
  background-color: rgb(173, 173, 155);
  margin: 0;
  padding: 10px;
  text-align: left;

}

button {
  border-radius: 10px;
}

button:hover {
  background-color: orange;
}

div {
  background-color: hsl(34, 76%, 72%)
}